* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #EEEEEE;
    background: #303030;
}

button, a {
    all: unset;
    cursor: pointer;
    transition: filter .2s;
}

button:hover, a:hover {
    filter: brightness(.8);
}