header {
    width: 100%;
    padding: 48px 128px;
    margin-bottom: 80px;
    background: var(--red);
    border-bottom: 1px solid var(--font-color);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    width: 100%;
    padding: 0 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* --- buttons --- */

.go-back {
    width: 550px;
    margin-bottom: 32px;
}

button[type="submit"],
.button-big {
    width: 100%;
    padding: 8px 0;
    margin-top: 32px;
    text-align: center;
    border-radius: 8px;
    background: var(--red);
}

.button-big {
    padding: 12px 0;
}


/* --- form --- */

form {
    width: 550px;
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 6px 0 16px;
    border-radius: 2px;
    text-align: left;
    background: var(--background-dark);
}


/* --- table --- */

table {
    width: max(100%, 650px);
    border-collapse: collapse;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    overflow: hidden;
}

table a:hover {
    text-decoration: underline;
}
  
th, td {
    text-align: center;
    padding: 16px 12px;
    border: 1px solid var(--font-color);
}

tr {
    background-color: var(--background-dark);
}
  
th {
    background: var(--red);
}